@tailwind base;
@tailwind utilities;
@tailwind components;

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #171c25;
}

body::-webkit-scrollbar-thumb {
  background-color: #354155; 
  border-radius: 10px;
  border: 3px solid #354155; 
}